
.form-type-ml-select .form-type-select {
	float: left;
	position: relative;
	margin-left: 1em;
}

.form-type-ml-select .form-type-select:first-child {
	margin-left: 0;
}

.form-type-ml-select .form-type-select .progress-disabled {
	float: none;
}

.form-type-ml-select .form-type-select .ajax-progress {
	position: absolute;
	top: 2.7em;
	width: 8em;
}
